.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 220px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  max-width: 90%;
  align-items: center;
  height: 150px;
  height: auto;
  border-radius: 8px;
}

.product-item h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-item p {
  margin: 5px 0;
}

.product-item button,
.product-item a {
  margin-right: 5px;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.product-item button:hover,
.product-item a:hover {
  background-color: #0056b3;
}
